body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 20px;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.editor {
  width: calc(100% - 20px);
  height: 200px;
  padding: 10px;
  font-family: monospace;
  margin-bottom: 20px;
}
 button {
   padding: 10px;
 }

.answer {
  margin-top: 40px;
  padding: 20px;
  background-color: #CCC;
}
